.navstyle{
  background-color:rgb(0,0,0);
  border:0px;
  margin-bottom:-10px;
   
}
.menu{
  color:#B6B6B6;
  font-family:'Raleway';
  font-spacing:5px;
  font-size:20px;
  }
.me{
  text-align: justify;
  margin-left:20px;
  font-family:'Raleway';
  color:#B6B6B6;
  font-size:40px;
}
.bg-1{
  background-color:#FFFFFF;
}
.margin{
  font-family:'Raleway';
  font-size:48px;
  color:#000000;
  text-align:center;
  text-decoration: underline;
}
.name{
  font-family:'Raleway';Console
Assets
Comments
Delete
text-align: center;
color:#a0ff05;
  }
.pic{
  display:inline;
  border:5px solid #000000;
  height:auto;
  width:auto;
}



.rowp{
  padding-bottom:-30px;
  }
.bg-4{
  background-color:#000000;
}
.contactme{
  text-align:center;
   background-color:#000000;
  font-color:#FFFFFF;
}

#contact{
  background-color:#000000;
  margin-bottom:-30px;
}
.social{
  width:40px;
  height:auto;
  margin-top:12px;
  margin-bottom:5px;
}
.pickc{
  border: 5px solid #000000;
}
.text{
  font-family:'Raleway';
  text-align: justify;
    text-justify: inter-word;
}
.maintext{
  font-family:'Raleway';
  text-decoration:underline;
  
}
.settech{
  margin-left:30px;
  margin-top:10px;
}